[submodule "aboutme"]
	path = aboutme
	url = https://github.com/sundoforce/aboutme
	branch = main
[submodule "blog-posts"]
	path = blog-posts
	url = https://github.com/sundoforce/blog-posts
	branch = main


